:root{
    --cor-fundo: #eb20d0 ;
    --cor-principal: #03421d ;
    --cor-secundaria: #fcfffe; 
    --cor-destaque: #e40dd2;
    --cor-texto: #5e9b42;

}

body {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.caixa-principal{
    background-color: var(--cor-principal);
    width: 90%;
    max-width: 600px;
    text-align: center;
    padding: 20px;
}

h1{
    color: var(--cor-destaque);
}
